.offer-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 15%; }
  @media screen and (max-width: 1024px) {
    .offer-quiz {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }
  .offer-quiz__details {
    padding-top: 5%;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
    width: 50%;
    padding: 50px;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .offer-quiz__details {
        width: 100%;
        padding: 0px; } }
  .offer-quiz__picture {
    width: 50%;
    height: auto; }
    @media screen and (max-width: 1024px) {
      .offer-quiz__picture {
        width: 100%; } }
  .offer-quiz__picture img {
    width: 100%;
    height: auto; }
  .offer-quiz__details-header {
    font-size: 26px;
    margin-bottom: 30px; }
  .offer-quiz__star-icon {
    margin-right: 1%;
    padding-top: 1%; }
  .offer-quiz__heart-icon {
    padding-left: 15px;
    margin-right: 3%;
    padding-top: 1%; }
  .offer-quiz__bulb-icon {
    margin-right: 3%;
    padding-top: 1%; }
  .offer-quiz__button {
    background-color: red;
    margin-top: 80px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 50px; }
  .offer-quiz__background-pink {
    background-position-y: -10px;
    background-image: url("./images/pink.jpg");
    background-position-x: center;
    background-repeat: no-repeat; }
  .offer-quiz__background-yellow {
    background-image: url("./images/y7.png");
    background-position-x: center;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 560px;
    margin-top: 20px;
    padding-bottom: 50px; }
  .offer-quiz__background-blue {
    background-image: url("./images/blue2.jpg");
    background-position-x: center;
    background-position-y: -15px;
    padding-bottom: 50px;
    background-repeat: no-repeat; }

@media screen and (max-width: 1024px) {
  .offer-chatbot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
