@media screen and (max-width: 1024px) {
  .header-description {
    background-color: #e9f6f9; } }

.header-description__text {
  width: 400px;
  margin-left: 190px;
  font-size: 40px;
  color: #1a1ea9;
  margin-top: 50%;
  font-weight: 400;
  text-align: center; }
  @media screen and (max-width: 760px) {
    .header-description__text {
      padding-top: 5%;
      width: 100%;
      font-weight: 600;
      margin-top: 0%;
      margin-left: 0px; } }

.header-description__image {
  width: 60%; }
  @media screen and (max-width: 1024px) {
    .header-description__image {
      width: 100%;
      margin-top: 60px; } }

.header-description__image img {
  width: 100%;
  height: auto; }
