.quiz {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  border: none;
  border-radius: 50px; }
  @media screen and (max-width: 1024px) {
    .quiz {
      width: 70%;
      margin-right: 0%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 60px; } }
  .quiz__name {
    font-weight: bold;
    font-size: 26px;
    padding-top: 15px; }
  .quiz__underline {
    text-decoration: underline;
    width: 50px; }
  .quiz__description {
    font-size: 20px; }
  .quiz__button {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #4b399d;
    margin-bottom: 40px;
    color: white !important;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px; }

.quiz img {
  width: 100%;
  height: auto; }

.quiz-container {
  width: 86%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .quiz-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.quizes {
  background-color: #c8d5f2; }

.quiz__button a {
  color: white; }

.quiz-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.each-quiz {
  margin-top: 20px; }
  .each-quiz__image {
    width: 100%;
    height: auto;
    margin-top: -10%; }
  .each-quiz__container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 50px;
    border-radius: 50px; }
    @media screen and (max-width: 1024px) {
      .each-quiz__container {
        width: 100%; } }
  .each-quiz__questions {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media screen and (max-width: 760px) {
      .each-quiz__questions {
        font-size: 20px;
        padding: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .each-quiz__button {
    width: 37%;
    margin-right: 30px;
    background-color: #65106e;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (max-width: 760px) {
      .each-quiz__button {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0px;
        margin-right: auto;
        margin-left: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .each-quiz__title {
    color: #65106e;
    padding-top: 20px; }
  .each-quiz__next-button {
    background-color: #8889ff;
    width: 20%; }
    @media screen and (max-width: 1024px) {
      .each-quiz__next-button {
        width: 30%;
        text-align: center; } }
  .each-quiz__finish-button {
    background-color: red;
    width: 20%; }
    @media screen and (max-width: 1024px) {
      .each-quiz__finish-button {
        width: 30%;
        text-align: center; } }

.quiz-result {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 10%; }
  .quiz-result__button {
    background: #65106e;
    color: white;
    font-size: 30px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 40px; }
    @media screen and (max-width: 1024px) {
      .quiz-result__button {
        font-size: 20px; } }
  @media screen and (max-width: 1024px) {
    .quiz-result {
      padding-bottom: 60%; } }

.result-trophy {
  width: 25%; }

.quiz-loading {
  text-align: center;
  margin-top: 50px; }

.spinner {
  padding-top: 50px; }

@-webkit-keyframes ldio-uhc8q8oxs89 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ldio-uhc8q8oxs89 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.ldio-uhc8q8oxs89 div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: ldio-uhc8q8oxs89 linear 1s infinite;
  animation: ldio-uhc8q8oxs89 linear 1s infinite;
  background: #65106e;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  -webkit-transform-origin: 6px 52px;
  -ms-transform-origin: 6px 52px;
  transform-origin: 6px 52px; }

.ldio-uhc8q8oxs89 div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.9166666666666666s;
  animation-delay: -0.9166666666666666s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.8333333333333334s;
  animation-delay: -0.8333333333333334s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.6666666666666666s;
  animation-delay: -0.6666666666666666s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.5833333333333334s;
  animation-delay: -0.5833333333333334s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.4166666666666667s;
  animation-delay: -0.4166666666666667s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.3333333333333333s;
  animation-delay: -0.3333333333333333s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.16666666666666666s;
  animation-delay: -0.16666666666666666s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.08333333333333333s;
  animation-delay: -0.08333333333333333s;
  background: #65106e; }

.ldio-uhc8q8oxs89 div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #65106e; }

.loadingio-spinner-spinner-ntt0kww4wf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none; }

.ldio-uhc8q8oxs89 {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-uhc8q8oxs89 div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
