.footer {
  padding-top: 1%;
  font-size: 30px;
  padding-bottom: 1%;
  background-color: #384269;
  &__logo {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 80px;
  }
  &__logo img {
  }
  &__social {
  }
}
