.button {
  background-color: tomato;
  width: 140px;
  font-weight: bold;
  font-size: 18px;
  padding: 5%; }
  @media screen and (max-width: 1024px) {
    .button {
      width: 40%;
      margin: auto;
      padding: 2%; } }

.button a {
  color: white !important; }
